*.dll 
*.exe 
*.lib 
*.pck 
*.pak 
*.dds 
*.tga 
*.bin 
client/bin/ 
server/bin/ 
*.dll 
*.exe 
*.lib 
*.pck 
*.pak 
*.dds 
*.tga 
*.bin 
*.obj 
*.pdb 
client/bin/ 
server/bin/ 
.vs/ 
*/Release/ 
*/x64/ 
*/Debug/ 
