# 坎我扶忘把扶我抗我 - 扶快 志 git
*.dll
*.exe
*.lib
*.pck
*.pak
*.dds
*.tga
*.bin
*.obj
*.pdb
*.ilk
*.exp
*.so
*.a
*.o
# VS 技批扼抉把
.vs/
*/Release/
*/x64/
*/Debug/
*/ReleaseStatic/
CopilotIndices/
*.tlog
*.ipch
*.vsidx
*.db-shm
*.db-wal
# 妣抉忍我
*.log
*.tmp
temp/
cache/
*.bht 
*.data 
*.gs 
server/backup/ 
server/gamed/ 
