*.o
*.a
cgame/gs/config/
*.so
.vscode/
cnet/gamedbd/dbhomewdb/
cnet/uniquenamed/unamewdb/
cnet/common
cnet/io
cnet/mk
cnet/perf
cnet/rpc
cnet/storage
cgame/gs/gs
cgame/gs/gs
cnet/logservice/logs/statinfod
cnet/logservice/logs/statinfoh
cnet/logservice/logs/statinfom
cnet/logservice/logs/world2.cash
cnet/logservice/logs/world2.chat
cnet/logservice/logs/world2.err
cnet/logservice/logs/world2.formatlog
cnet/logservice/logs/world2.log
cnet/logservice/logs/world2.trace
cnet/gclient/gclient
cnet/gacd/gacd
cnet/gamedbd/gamedbd
cnet/gfaction/gfactiond
cnet/uniquenamed/uniquenamed
cnet/gdeliveryd/gdeliveryd
cnet/glinkd/glinkd
cnet/logservice/logservice
iolib
cgame/gs/foo
cnet/uniquenamed/uniquenamed
cnet/gfaction/gfactiond