<div class="w-100 dark-form text-center">
    <h4 class="h4 mb-3 font-weight-normal">Войти в Iweb</h4>
    <form>
        <input type="text" name="username" class="form-control w-50 text-center" style="display: inline-block"
               id="usernameField" placeholder="Имя пользователя" required
               autofocus>
        <input type="password" name="password" class="form-control w-50 text-center" id="passwordFiled"
               style="display: inline-block" placeholder="Пароль" required><br>
    </form>
    <br>
    <button class="btn btn-primary btn-block w-25" style="display: inline-block" name="authUser">Войти</button>
</div>
