<h5>XML Редактор</h5> <hr>

<a href="javascript:void(0)" data-tip="tooltip" data-html="true" title="
Нажмите на поле XML редактора после чего можете использовать сочетания клавиш.<br><br>
Win: <kbd>Ctrl-F</kbd> / iMac: <kbd>Cmd-F</kbd> - Поиск<br>
Win: <kbd>Ctrl-G</kbd> / iMac: <kbd>Cmd-G</kbd> - Искать дальше<br>
Win: <kbd>Shift-Ctrl-G</kbd> / iMac: <kbd>Shift-Cmd-G</kbd> - Вернуться назад<br>
Win: <kbd>Shift-Ctrl-F</kbd> / iMac: <kbd>Cmd-Option-F</kbd> - Заменить<br>
Win: <kbd>Shift-Ctrl-R</kbd> / iMac: <kbd>Shift-Cmd-Option-F</kbd> - Заменить все<br>">Помощь по поиску</a><br>

<input type="hidden" name="id" value="{id}">
<textarea title="xml" class="form-control form-control-sm"  name="code" id="code">{xml}</textarea><br>
<button class="btn btn-sm btn-success" name="sendXML">Сохранить изменения</button>

<script>

</script>


